<ion-header>
  <ion-toolbar>
    <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button  slot="start" fill="clear" size="small" (click)="openDateSlide()">
        {{selectedActiveDateFormat}} <ion-icon slot="end" name="arrow-down-circle"></ion-icon>
      </ion-button>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="water-container">
    <div >
      <div class="circle"><span> - </span>
      </div>
      <div style="white-space: pre; color: gray">
          <p style="margin-top: 15%;font-size: 13px;">250 ml</p>
        </div>
    </div>
    <div>
      <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="6" [innerStrokeWidth]="0" title="1.2 L" subtitle="Drank so far" [showUnits]="false"
        [outerStrokeColor]="'#E02828'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" >
      </circle-progress>
      <div style="text-align: center">
         <p (click)="openActionSheet()">Goal 8 L <ion-icon name="pencil-outline"  ></ion-icon></p>
        </div>
    </div>

    

    <div >
      <div class="circle"><span> + </span>
      </div>
      <div style="white-space: pre; color: gray">
        <p style="margin-top: 15%;font-size: 13px;">250 ml</p>
      </div>
    </div>
  </div>
  <div class="today-tip">
      <p class="tip"> Today's Tip _____________________
      </p>
      <p> Drinking water in a sitting posture is better than running or standing posture
      </p>
  </div>
  <div class="daily-intake">
      <p>Daily Water Intake<span ><ion-icon src="assets/icon/icon_share.svg"></ion-icon></span></p>
      <span >Last 7 days</span>
  </div>
      <div style="width: 100%">
      <ion-slides style="width: 100%" pager="false" [options]="slideOpts" #graphSlider (ionSlideDidChange)="slideChanged($event)">
          <ion-slide > 
              <div id="chartContainer" style="width: 375px; height: 400px;"></div>
          </ion-slide>
          <ion-slide > 
              <div id="chartContainer1" style="width: 375px; height: 400px;"></div>
          </ion-slide>
        </ion-slides>
        </div>
</ion-content>