<ion-header class="ion-text-center ion-no-border">
    <ion-toolbar>
        <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="ion-no-padding">Insights</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment mode="md" scrollable="true" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor="let segment of segmentData;let i = index" [value]="segment.segmentValue">
            <ion-label>{{segment.segmentName}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-card class="ion-no-margin ion-no-border">
        <ion-item lines="none" class="ion-margin-top">
            <ion-label slot="start">Daily Calorie Trend</ion-label>
            <ion-text>200 Kcal</ion-text>
            <ion-button slot="end" fill="clear" size="small" class="ion-no-margin">
                <ion-icon slot="icon-only" src="assets/icon/icon_share.svg"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item lines="none">
            <div id="highcharts"></div>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Calories
                    <ion-text class="ion-float-right">900 of 1081 Cal</ion-text>
                </p>
                <ion-progress-bar value="0.2"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Proteins
                    <ion-text class="ion-float-right">48 of 87.5 g</ion-text>
                </p>
                <ion-progress-bar value="0.1"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Carbs
                    <ion-text class="ion-float-right">68.5 of 65 g</ion-text>
                </p>
                <ion-progress-bar value="0.5"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Fat
                    <ion-text class="ion-float-right">55 of 75 g</ion-text>
                </p>
                <ion-progress-bar value="0.7"></ion-progress-bar>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-content>