<ion-header class="ion-text-center ion-no-border">
    <ion-toolbar>
        <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="ion-no-padding">Insights</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment mode="md" scrollable="true" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor="let segment of segmentData;let i = index" [value]="segment.segmentValue">
            <ion-label>{{segment.segmentName}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-card class="ion-no-margin ion-no-border">
        <ion-item lines="none" class="ion-margin-top">
            <ion-label slot="start">Daily Calorie Trend</ion-label>
            <ion-text>200 Kcal</ion-text>
            <ion-button slot="end" fill="clear" size="small" class="ion-no-margin">
                <ion-icon slot="icon-only" src="assets/icon/icon_share.svg"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item lines="none">
            <div id="highcharts"></div>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Calories
                    <ion-text class="ion-float-right">{{calorieConsumed}} of {{calorieEstimated}}</ion-text>
                </p>
                <ion-progress-bar [value]="calorieBar"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Proteins
                    <ion-text class="ion-float-right">{{proteinsConsumed}} of {{proteinsEstimated}}</ion-text>
                </p>
                <ion-progress-bar [value]="proteinBar"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Carbs
                    <ion-text class="ion-float-right">{{carbsConsumed}} of {{carbsEstimated}}</ion-text>
                </p>
                <ion-progress-bar [value]="carbsBar"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Fat
                    <ion-text class="ion-float-right">{{fatConsumed}} of {{fatEstimated}}</ion-text>
                </p>
                <ion-progress-bar [value]="fatBar"></ion-progress-bar>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                <p>Fiber
                    <ion-text class="ion-float-right">{{fiberConsumed}} of {{fiberEstimated}}</ion-text>
                </p>
                <ion-progress-bar [value]="fiberBar"></ion-progress-bar>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-content>