.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .collapsed {
    max-height: 0 !important;
  }