<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
        <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
    </ion-button>
</ion-toolbar>
</ion-header>

<ion-content>
 <ion-slides pager="false" [options]="Opts" >
   <ion-slide>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
            <ion-icon name="ellipse" class="big-ellipse"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <ion-text class="big-heading">Whats Your Fitness Objective</ion-text>
          </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button class="ion-no-margin">
              <ion-text>Loose weight</ion-text>
            </button>
         </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button class="ion-no-margin">
              <ion-text>Get Toned</ion-text>
            </button>
            </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
          <ion-col size="12">
          <button class="ion-no-margin">
            <ion-text>Build Muscle</ion-text>
          </button>
          </ion-col>
      </ion-row>
    </ion-grid>
   </ion-slide>
   <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
              <ion-text class="normal-heading">Whats Your Fitness Objective</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-text-left">
                <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
              <button class="ion-no-margin">
                <ion-text>Beginner</ion-text>
              </button>
           </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
              <button class="ion-no-margin">
                <ion-text>Intermediate</ion-text>
              </button>
              </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col size="12">
            <button class="ion-no-margin">
              <ion-text>Expert</ion-text>
            </button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-left">
                <ion-text class="normal-heading">How often do you currently workout in a week</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" class="ion-text-left">
                  <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
              </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
              <ion-col size="12">
                <button class="ion-no-margin">
                  <ion-text>2 times</ion-text>
                </button>
             </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
              <ion-col size="12">
                <button class="ion-no-margin">
                  <ion-text>3 times</ion-text>
                </button>
                </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
              <ion-col size="12">
              <button class="ion-no-margin">
                <ion-text>4 times</ion-text>
              </button>
              </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
              <ion-col size="12">
              <button class="ion-no-margin">
                <ion-text>6 times</ion-text>
              </button>
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-left">
                <ion-text class="normal-heading">Select workout days in a week</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" class="ion-text-left">
                  <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
                <ion-chip >
                    <ion-label>Mon</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="2">
                <ion-chip >
                    <ion-label>Tue</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="2">
                <ion-chip >
                    <ion-label>Wed</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="2">
                <ion-chip >
                    <ion-label>Thu</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="2">
                <ion-chip >
                    <ion-label>Fri</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="2">
                <ion-chip>
                    <ion-label>Sat</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>
    <ion-slide>
        <ion-grid class="verical-center">
          <ion-row>
            <ion-col size="12">
                <ion-icon name="checkmark-circle" class="check-mark"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12">
                  <ion-text class="normal-heading">Your all set</ion-text>
              </ion-col>
            </ion-row>
          <ion-row>
              <ion-col size="12">
                  <ion-text class="normal-para">Plan created based on your preferences</ion-text>
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-slide>
 </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center ion-margin-bottom">
      <ion-label>STEP <ion-text>1</ion-text>/<ion-text>6</ion-text></ion-label>
      <ion-progress-bar value="0.125"></ion-progress-bar>
    </ion-toolbar>
</ion-footer>