<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button  (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false"  [options]="trainingSliderOpts" #trainingSlider>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon name="ellipse" class="big-ellipse"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text class="big-heading">Whats Your Fitness Objective</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('objective','Loose Weight')" class="ion-no-margin">
              <ion-text>Loose Weight</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('objective','Get Toned')" class="ion-no-margin">
              <ion-text>Get Toned</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('objective','Build Muscle')" class="ion-no-margin">
              <ion-text>Build Muscle</ion-text>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-heading">Whats Your Fitness Level</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('fitnesslevel','Beginner')" class="ion-no-margin">
              <ion-text>Beginner</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('fitnesslevel','Intermediate')" class="ion-no-margin">
              <ion-text>Intermediate</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('fitnesslevel','Expert')" class="ion-no-margin">
              <ion-text>Expert</ion-text>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-heading">Select number of weeks</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('weeks','4 weeks')" class="ion-no-margin">
              <ion-text>4 weeks</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('weeks','6 weeks')" class="ion-no-margin">
              <ion-text>6 weeks</ion-text>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-heading">How often do you currently workout in a week</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <ion-text class="normal-para">Let us know your better to help boost your workout</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('oftenweek','2 times')" class="ion-no-margin">
              <ion-text>2 times</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('oftenweek','3 times')" class="ion-no-margin">
              <ion-text>3 times</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('oftenweek','4 times')" class="ion-no-margin">
              <ion-text>4 times</ion-text>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <button (click)="setData('oftenweek','6 times')" class="ion-no-margin">
              <ion-text>6 times</ion-text>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="verical-center">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="checkmark-circle" class="check-mark"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text class="normal-heading">Your all set </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text class="normal-para">Plan created based on your preferences</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center ion-margin-bottom">
    <ion-label *ngIf="slideIndex == 5">
      STEP <ion-text>{{slideIndex}}</ion-text>/<ion-text>{{totalSlides}}</ion-text>
    </ion-label>
    <ion-progress-bar *ngIf="slideIndex != 5 "  [value]="slideProgress"></ion-progress-bar>
    <ion-button (click)="goToTrainigDasboard()" *ngIf="slideIndex == 5 "shape="round" fill="outline">
        <ion-text>Go To Dashboard</ion-text>
      </ion-button>
  </ion-toolbar>
</ion-footer>