
<ion-card class="ion-no-margin card-pannel">
   
       <div *ngFor="let tracker of tackersData;">
                <ion-item lines="none" *ngIf="tracker.show" >
                         <ion-icon *ngIf="!tracker.isAdded" (click)="openTracker(tracker)" name="ellipse" slot="start" class="reduce-margin-right icon-size"></ion-icon>
                        <div *ngIf="tracker.isAdded" class="reduce-margin-right icon-size">
                                <circle-progress [percent]="(tracker.todaysValue/tracker.totalValue)*100" [radius]="13" 
                                [backgroundPadding]="-2"[outerStrokeWidth]="2" [innerStrokeWidth]="0" [showTitle]="false" [showSubtitle]="false" [showImage]="false" [showUnits]="false"
                                [outerStrokeColor]="tracker.color"  [backgroundColor] = "'#D2D2D2'"  [animation]="true" [animationDuration]="600" >
                                </circle-progress>
                        </div>
                        <ion-label (click)="openTracker(tracker)">
                                <h4 class="ion-no-padding item-lable">{{ tracker.name }}</h4>
                                <p class="item-data" *ngIf="tracker.isAdded" ><b>{{ tracker.todaysValue }}</b> of <b>{{ tracker.totalValue }}</b> {{ tracker.UnitText}}</p>
                        </ion-label>
                        <ion-icon (click)="addTracker(tracker)" class="icon-size" [src]="tracker.isAdded ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'" slot="end"></ion-icon>
                </ion-item>
       </div>
        <ion-item lines="none" class="footer-pannel">
                <ion-label>
                        <h4 class="ion-no-padding item-lable">TRACK YOUR HEALTH</h4>
                        <p *ngIf="!expanded" class="item-data">Add more trackers</p>
                        <p *ngIf="expanded" class="item-data">View Less</p>
                </ion-label>
                <ion-icon (click)="expandList()" class="icon-size" [ngClass]="{'rotate180': expanded}" src="assets/icon/icon_arrow.svg" slot="end"></ion-icon>
        </ion-item>
</ion-card>