<ion-header>
  <ion-toolbar>
    <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button slot="start" fill="clear" size="small" (click)="openDateSlide()">
      {{selectedActiveDateFormat}} <ion-icon slot="end" name="arrow-down-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-item lines="none" class="ion-no-padding progress-bar">
    <ion-label>
      <p><b>{{calorieToReach - calorieConsumed | fixedValue}} cal</b> to reach your goal</p>
      <ion-progress-bar [value]="calorieProgressBar"></ion-progress-bar>
    </ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-no-padding">
    <ion-button fill="clear" size="small" shape="round" class="ion-no-margin subscribe-button ion-text-wrap" (click)="openChat()">Live Chat
      <ion-icon slot="icon-only" src="assets/icon/icon_chat_box.svg"></ion-icon>
    </ion-button>
    <ion-button fill="outline" size="small" shape="round" class="ion-no-margin subscribe-button ion-text-wrap" (click)="onBookAppointment()">Book
      Appointment
      <ion-icon slot="icon-only" src="assets/icon/icon_appointment.svg"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>
<ion-content>
  <div *ngIf = "dietFoodData.length">
   
  <ion-list>
    <ion-list-header>
      <ion-label>Morning Snack</ion-label>
      <ion-label class="ion-text-right">
        <p>{{morningCalories | fixedValue}} Cal</p>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let food of dietFoodMorningData; let i = index">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/sliderPlaceHolder.svg">
          <ion-text class="time-text">{{food.time}}</ion-text>
        </ion-thumbnail>
        <ion-label slot="start">
          <h4>{{food.c_item}}</h4>
          <ion-text>{{food.c_amount}} {{food.c_clientmeasure}}</ion-text>
          <h4>{{food.c_calories}} Cals</h4>
        </ion-label>
        <ion-button (click)="foodSelected(food,i,'morning_snack')" slot="end" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" [src]="food.isAddedInDiet ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'">
          </ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-toolbar *ngIf="!dietFoodMorningData.length" class="ion-text-center" lines="none">
      <p>No items Present</p>
    </ion-toolbar>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Breakfast</ion-label>
      <ion-label class="ion-text-right">
        <p>{{breakfastCalories}} Cal</p>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let food of dietFoodBreakfastData; let i = index">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/sliderPlaceHolder.svg">
          <ion-text class="time-text">{{food.time}}</ion-text>
        </ion-thumbnail>
        <ion-label slot="start">
          <h4>{{food.c_item}}</h4>
          <ion-text>{{food.c_amount}} {{food.c_clientmeasure}}</ion-text>
          <h4>{{food.c_calories}} Cals</h4>
        </ion-label>
        <ion-button (click)="foodSelected(food,i,'breakfast')" slot="end" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" [src]="food.isAddedInDiet ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'">
          </ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-toolbar *ngIf="!dietFoodBreakfastData.length" class="ion-text-center" lines="none">
      <p>No items Present</p>
    </ion-toolbar>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Lunch</ion-label>
      <ion-label class="ion-text-right">
        <p>{{lunchCalories}} Cal</p>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let food of dietFoodLunchData; let i = index">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/sliderPlaceHolder.svg">
          <ion-text class="time-text">{{food.time}}</ion-text>
        </ion-thumbnail>
        <ion-label slot="start">
          <h4>{{food.c_item}}</h4>
          <ion-text>{{food.c_amount}} {{food.c_clientmeasure}}</ion-text>
          <h4>{{food.c_calories}} Cals</h4>
        </ion-label>
        <ion-button (click)="foodSelected(food,i,'lunch')" slot="end" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" [src]="food.isAddedInDiet ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'">
          </ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-toolbar *ngIf="!dietFoodLunchData.length" class="ion-text-center" lines="none">
      <p>No items Present</p>
    </ion-toolbar>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Evening Snack</ion-label>
      <ion-label class="ion-text-right">
        <p>{{eveningCalories | fixedValue}} Cal</p>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let food of dietFoodEveningData; let i = index">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/sliderPlaceHolder.svg">
          <ion-text class="time-text">{{food.time}}</ion-text>
        </ion-thumbnail>
        <ion-label slot="start">
          <h4>{{food.c_item}}</h4>
          <ion-text>{{food.c_amount}} {{food.c_clientmeasure}}</ion-text>
          <h4>{{food.c_calories}} Cals</h4>
        </ion-label>
        <ion-button (click)="foodSelected(food,i,'evening_snack')" slot="end" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" [src]="food.isAddedInDiet ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'">
          </ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-toolbar *ngIf="!dietFoodEveningData.length" class="ion-text-center" lines="none">
      <p>No items Present</p>
    </ion-toolbar>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>Dinner</ion-label>
      <ion-label class="ion-text-right">
        <p>{{dinnerCalories}} Cal</p>
      </ion-label>
    </ion-list-header>
    <div *ngFor="let food of dietFoodDinnerData; let i = index">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/sliderPlaceHolder.svg">
          <ion-text class="time-text">{{food.time}}</ion-text>
        </ion-thumbnail>
        <ion-label slot="start">
          <h4>{{food.c_item}}</h4>
          <ion-text>{{food.c_amount}} {{food.c_clientmeasure}}</ion-text>
          <h4>{{food.c_calories}} Cals</h4>
        </ion-label>
        <ion-button (click)="foodSelected(food,i,'dinner')" slot="end" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" [src]="food.isAddedInDiet ? 'assets/icon/icon_tick.svg' : 'assets/icon/icon_add.svg'">
          </ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <ion-toolbar *ngIf="!dietFoodDinnerData.length" class="ion-text-center" lines="none">
      <p *ngIf = "!dietFoodData">No items Present</p>
    </ion-toolbar>
  </ion-list>
  </div>
  <p *ngIf = "!dietFoodData.length">No items Present</p>
  <div id="overlay" #overlay></div>
  <div *ngIf='bookApt'class='book-appointment'>
    <div class='select-trainer'> <ion-label> <ion-text>Select your Trainer</ion-text></ion-label></div>
    <div class="btn-wrapper">
      <button class="pay-btn pay-btn-trainer">
       Workout Trainer</button>
    </div>
    <div class="btn-wrapper">
      <button class="pay-btn pay-btn-diet" (click)="OnSelectTrainer()">
       Dietician</button>
    </div>
  </div>
  <div *ngIf='scheduled'class='book-appointment'>
    <div class='sceduled-confirm'> <ion-icon  class="confirm-circle" name="checkmark-circle"></ion-icon></div>
    <div class="confirm-text">
      Appointment Confirmed
    </div>
  </div>
</ion-content>