        <p class="c10"><span>&nbsp;</span><span class="c8">MAXX TERMS AND CONDITIONS</span></p>
        <p class="c0"><span class="c8">Last updated Jan 1 2020</span></p>
        <p class="c0"><span class="c7">This document is an electronic record in terms of Information Technology Act, 2000
            and published in accordance with the provisions of Rule 3 of the Information Technology (Intermediaries
            guidelines) Rules, 2011 that require publishing the Rules and Regulations, Privacy Policy and Terms and
            Conditions for access or usage of MAXX (</span><span class="c5">FITNESS APP</span><span class="c3">)
            (hereinafter referred to as &ldquo;Website&rdquo;)</span></p>
        <p class="c0"><span class="c8">AGREEMENT TO TERMS</span></p>
        <p class="c0"><span class="c7">These Terms and Conditions constitute a legally binding agreement made between you,
            whether personally or on behalf of an entity (&ldquo;you&rdquo;) and MAXX (&ldquo;we,&rdquo; &ldquo;us&rdquo; or
            &ldquo;our&rdquo;), concerning your access to and use of the </span><span class="c5">FITNESS APP</span><span
            class="c3">&nbsp;as well as any other media form, media channel or mobile website related, linked, or otherwise
            connected thereto (collectively, the &ldquo;Website&rdquo;). You agree that by accessing the Website, you have
            read, understood, and agree to be bound by all of these Terms and Conditions.</span></p>
        <p class="c6"><span class="c3">IF YOU DO NOT AGREE WITH ALL OF THESE TERMS AND CONDITIONS, THEN YOU ARE EXPRESSLY
            PROHIBITED FROM USING THE WEBSITE AND YOU MUST DISCONTINUE THEIR USE IMMEDIATELY.</span></p>
        <p class="c6"><span class="c3">Supplemental terms and conditions or documents that may be posted on the Website from
            time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole
            discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason. We
            will alert you about any changes by updating the &ldquo;Last updated&rdquo; date of these Terms and Conditions,
            and you waive any right to receive specific notice of each such change. It is your responsibility to
            periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be
            deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your
            continued use of the Website after the date such revised Terms and Conditions are posted.</span></p>
        <p class="c6"><span class="c3">The information provided on the Website is not intended for distribution to or use by
            any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or
            regulation or which would subject us to any registration requirement within such jurisdiction or country.
            Accordingly, those persons who choose to access the Website from other locations do so on their own initiative
            and are solely responsible for compliance with local laws, if and to the extent local laws are
            applicable.</span></p>
        <p class="c9"><span class="c1">&nbsp;</span></p>
        <p class="c2"><span class="c1"></span></p>