<ion-header mode="md" class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-title>Manage Profile</ion-title>
    </ion-toolbar>
    <ion-avatar (click)="getImages()">
      <ion-img [src]="imageUrl"></ion-img>
      <ion-icon src="assets/img/manage-profile/edit_image_icon.svg" class="ion-no-margin edit-icon"></ion-icon>
    </ion-avatar>
  </ion-header>

<ion-content fullscreen>
  <ion-slides [options]="profileFormSliderOpts"  #profileFormSlider>
    <ion-slide>
      <ion-card>
          <ion-card-content class="ion-no-padding">
            <form [formGroup]="registrationForm" (ngSubmit)="submit()">
          <ion-list>
              <ion-item lines="inset">
                  <ion-icon src="assets/icon/icon_name.svg" class="input-icon" slot="start"></ion-icon>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input  inputmode="text" formControlName="name"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.name" class="ion-text-left ion-padding-start error-message-container">
                  <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              <ion-item lines="inset">
                  <ion-icon src="assets/icon/icon_email.svg" class="input-icon" slot="start"></ion-icon>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input inputmode="email" formControlName="email"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.email" class="ion-text-left ion-padding-start error-message-container">
                  <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              <ion-item lines="inset">
                  <ion-icon src="assets/icon/icon_mobile.svg" class="input-icon" slot="start"></ion-icon>
                  <ion-label position="floating">Mobile Number</ion-label>
                  <ion-input readonly="true" inputmode="tel" formControlName="phone"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.phone" class="ion-text-left ion-padding-start error-message-container">
                  <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>
              <ion-item-divider>
                </ion-item-divider>
              <ion-radio-group formControlName="gender">
              <ion-item lines="none">
                  <ion-icon src="assets/icon/icon_gender.svg" class="ion-no-margin"></ion-icon>
                  <ion-label class="radio-gender-label">Gender</ion-label>
                    <ion-radio mode="md" #male_radio  value="male"></ion-radio>
                    <ion-label class="ion-text-center radio-label">Male</ion-label>
                    <ion-radio mode="md" #female_radio value="female"></ion-radio>
                    <ion-label class="ion-text-center radio-label">Female</ion-label>
              </ion-item>
            </ion-radio-group>
              <ion-item lines="none">
                  <ion-icon src="assets/icon/icon_age.svg" class="ion-no-margin"></ion-icon>
                  <ion-label class="radio-gender-label">Age</ion-label>
                  <!-- <ion-input inputmode="age" formControlName="age"></ion-input> -->
                      <ion-select class="ion-no-padding age-select-box" 
                        name="age" multiple="false" formControlName="age">
                          <ion-select-option *ngFor="let age of ageOptions" [value]="age.value">{{age.displayName}}</ion-select-option>
                      </ion-select>
              </ion-item>
              <ion-item lines="none">
                  <ion-icon src="assets/icon/icon_weight.svg" class="ion-no-margin"></ion-icon>
                  <ion-label class="radio-gender-label">Weight</ion-label>
                  <!-- <ion-input inputmode="height" formControlName="height"></ion-input> -->
                      <ion-button fill="clear" (click)="decreaseWeight()"  icon-only  class="weight-icon-button ion-margin-start">
                          <ion-icon class="size-icon" slot="icon-only" src="assets/icon/icon_minus.svg"></ion-icon>
                      </ion-button>
                      <ion-input readonly="true" inputmode="numeric" formControlName="weight" [value]="inputWeight" class="user-weight"></ion-input>
                       <ion-text class="user-weight-unit ion-text-center">Kg</ion-text>
                      <ion-button  fill="clear" (click)="increaseWeight()" icon-only clear class="weight-icon-button">
                          <ion-icon  class="size-icon" slot="icon-only"  src="assets/icon/icon_plus.svg" ></ion-icon>
                      </ion-button>
              </ion-item>
              <ion-item lines="inset">
                  <ion-icon src="assets/icon/icon_height.svg" class="ion-no-margin" slot="start"></ion-icon>
                  <ion-label class="radio-gender-label">Height</ion-label>
                    <div class="custom-slider">
                      <ng5-slider [(value)]="height" [options]="opt" style="margin-bottom: 1rem;"></ng5-slider>
                    </div> 
              </ion-item>
              <ion-item lines="inset">
                  <ion-icon src="assets/icon/icon_fitness.svg" class="ion-no-margin" slot="start"></ion-icon>
                  <ion-label class="finess-label">Fitness Objective</ion-label>
                  <ion-select placeholder="Select Goal" class="ion-no-padding fitness-select-box"
                  name="goal" multiple="false" formControlName="goal" slot="end">
                      <ion-select-option value="weight_gain">Weight Gain</ion-select-option>
                      <ion-select-option value="weight_maintain">Weight Maintain</ion-select-option>
                      <ion-select-option value="weight_loss">Weight Loss</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item lines="inset">
                <ion-icon src="assets/icon/icon_fitness.svg" class="ion-no-margin" slot="start"></ion-icon>
                <ion-label class="finess-label">Daily Activity</ion-label>
                <ion-select placeholder="Select Activity" class="ion-no-padding fitness-select-box"
                name="activity" multiple="false" formControlName="activity" slot="end">
                    <ion-select-option value="sedantry">Sedantry</ion-select-option>
                    <ion-select-option value="moderate">Moderate</ion-select-option>
                    <ion-select-option value="high">Highly Active</ion-select-option>
                </ion-select>
            </ion-item>
            </ion-list>
            </form>
          </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
<ion-footer  mode="md" class="ion-no-border">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <ion-toolbar class="ion-text-center">
        <ion-button *ngIf="!isEditProfile" [disabled]="!registrationForm.valid" type="submit" shape="round">Next</ion-button>
        <ion-button *ngIf="isEditProfile" [disabled]="!registrationForm.valid" (click)="saveEditProfile()" shape="round">Save</ion-button>
        <div *ngIf="serverError" class="ion-text-center error-message-container">
          <ng-container >
            <small class="error-message">{{serverError}}</small>
          </ng-container>
         </div>
    </ion-toolbar>
    </form>
  </ion-footer>