<ion-header class="ion-no-border" [style.backgroundImage]="'url(' + bgImage + ')'">
  <ion-toolbar class="ion-text-center">
      <ion-button  (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
    <ion-title>Weight Loss</ion-title>
    <ion-label>28 days | 4 Weeks</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" scrollable="true" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Overview">
      <ion-label>Overview</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Workout">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="segment-content" [ngSwitch]="selectedSegment">
    <div class="about-section" *ngSwitchCase="'Overview'">
      <div class="inner-about">
          <p>About</p>
          <ion-text class="ion-text-wrap">{{aboutText}}</ion-text>
          <p>Benefits</p>
          <ion-text class="ion-text-wrap">{{benefitsText}}</ion-text>
          <p>Focus Areas</p>
          <ion-text>Abs | Core | Glutes | Lower Back</ion-text>
      </div>
      <ion-item lines="none">
        <ion-label slot="start">Do not Miss Your Workout</ion-label>
        <ion-text slot="end">Set Reminder</ion-text>
      </ion-item>
    </div>
    <div class="week-workout-section" *ngSwitchCase="'Workout'">
      <ion-list>
        <ion-item *ngFor="let item of items" (click)="getDayCompleteData(item)">
            <ion-thumbnail slot="start">
                <img [src]="item.image">
            </ion-thumbnail>
            <ion-label slot="start">
              <p>Week {{item.week}}</p>
              <ion-text>{{item.days}}</ion-text>
              <ion-progress-bar *ngIf="item.status" value="1"></ion-progress-bar>
              <ion-progress-bar *ngIf="!item.status" value="0"></ion-progress-bar>
            </ion-label>
            <ion-button  slot="end" (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
                <ion-icon *ngIf="item.status" slot="icon-only" src="assets/icon/icon_tick.svg"></ion-icon>
                <ion-icon *ngIf="!item.status" slot="icon-only" src="assets/icon/icon_unChecked.svg"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-button shape="round" fill="outline">
      <ion-text>Start Workout</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer> -->