@import '../../shared/styles/default.scss';
ion-header {
--ion-background-color: #F3F4F3;
ion-toolbar {
    --min-height: 20vh;
        ion-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            --color: #000000;
            margin-bottom: 50px;
        }
        ion-buttons {
            margin-bottom: 50px;
        }
    }
}
ion-footer {
 --ion-background-color: #FFFFFF;
    ion-toolbar {
        --min-height: 10vh;
        ion-button {
            width: 90%;
            height: 45px;
            text-transform: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            --background: #E02828;
            --color: #FFFFFF;
        }
    }
}

ion-content {
    --ion-background-color: #FFFFFF;
    ion-avatar{
            left: calc(50% - 100px/2 + 0px);
            position: absolute;
            top:80px;
            z-index: 11;
            width:100%;  
            height : 100%;  
            max-width: 100px;  //any size
            max-height: 100px; //any size 
    }
    ion-slides{
        ion-slide{
            ion-card{
                width: 100%;
                box-shadow: none;
                ion-grid{
                    ion-row{
                        ion-col{
                            ion-button {
                                width: 90%;
                                height: 18vh;
                                text-transform: none;
                                font-family: roboto-regular;
                                font-weight: normal;
                                font-size: 14px;
                                 border: 1px solid transparent;
                                --border-radius	: 6px;
                                --color:#A6AAB4;
                                --background:#F3F4F3;
                                --background-activated:#FFFFFF;
                                --color-activated:#656565;
                                // background-color: #F3F4F3;
                            .button-activated {
                                --background:#FFFFFF;
                                  border: 1px solid #E02828;
                                  --color:#656565;
                            }
                            .edit-icon {
                                position: absolute;
                                font-size: 14px;
                                top:20px;
                                right:0px;
                            }
                            .small-avatar {
                                left: calc(50% - 46px/2 + 0px);
                                position: absolute;
                                top:33px;
                                z-index: 2;
                                width:44%;  
                                height : 48%;  
                                max-width: 100px;  //any size
                                max-height: 100px; //any size 
                            }
                            .default-profile-text {
                                position: absolute;
                                font-family: roboto-regular;
                                font-weight: normal;
                                top: 10px;
                                font-size: 11px;
                                color: #E02828;
                            }
                            .small-label {
                                margin-top: 60px;
                            }
                            }
                        }
                    }
                }
                ion-card-title {
                    font-weight: 300;
                    font-size: 20px;
                }
                ion-card-subtitle {
                    font-weight: 300;
                    font-size: 20px;
                }
                ion-item-divider {
                    background-color: #FFFFFF;
                }
                .error-message {
                    color: #E02828;
                    font-size: 14px;
                }
                ion-radio-group {
                    .radio-label {
                        font-size: 12px;
                        letter-spacing: 0.68px;
                    }
                    ion-radio {
                        width: 24px;
                        height: 24px;
                        --color:#C4C4C4;
                        --color-checked: #E02828;
                    }
                }
                ion-item {
                    .radio-gender-label {
                        max-width: 70px;
                    }
                    ion-select {
                        max-width: 90%;
                        color: #000000;
                        border-bottom: 1px solid rgba(56, 79, 125, 0.1);
                    }
                    .age-select-box{
                        width: 25%;
                        padding-right: 5px;
                        padding-left: 30px;
                     }
                     .weight-select-box {
                        width: 70%;
                        padding-right: 5px;
                        padding-left: 70px;
                        border:none;
                     }
                     .fitness-select-box {
                        width: 50%;
                        padding-right: 5px;
                        padding-left: 10px;
                        border:none;
                     }
                    .size-icon {
                        font-size: 23px;
                        margin-right: 0px;
                    }
                    .weight-icon-button{
                       background-color: #FFFFFF;
                    }
                    .user-weight {
                        max-width: 18%;
                        font-size: 14px;
                        font-weight: normal;
                     }
                    ion-icon{
                        position: relative;
                        margin-right: 15px;
                        font-size: 18px;
                    }
                    .input-icon {
                        top:40px;
                    }
                    ion-label{
                        font-weight: normal;
                        font-size: 14px;
                        color: #8A8A8A;
                    }
                    ion-input{
                        font-size: 14px;
                        --color: #000000;
                        --padding-bottom:0px;
                        --padding-top:0px;
                    }
                }
            }
        }
    }
}