ion-header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    ion-toolbar{
       --background: #FFFFFF;

       ion-item{
        --background: #FFFFFF;
        text-transform: capitalize;
        ion-avatar{
            width: 35.71px;
            height: 39.14px;
        }
        ion-title{
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            text-transform: capitalize;
        }
        ion-label{
            h5{
                font-weight: 500;
                font-size: 14px;
                color: #171D33;
            }
            ion-text{
                font-weight: normal;
                font-size: 11px;
                color: #444444;
            }
        }
        ion-button{
            width: 30%;
            --color:#E02828;
            --border-color:#E02828;
            --background: #E02828;
              ion-text{
                font-weight: 500;
                font-size: 12px;
                color: #FFFFFF;
                text-transform: none;
              }
        }
       }
    }
}
ion-content{
    .video-section{
        background-color: #E0E0E0;
        .video-player{
            width: 100%;
        }
        .play-button{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            ion-icon{
                width: 100%;
                height: 100%;
            }
        }
    }
    .live-class-section{
        ion-slides{
            ion-slide{
                margin: 0 0 0 6px;
                ion-img{
                    width: 90%;
                }
            }
        }
    }
    .reach-your-golas-section {
        text-align: center;
        h4{
            text-align: left;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            color: #444444;
        }
        p{  
            text-align: left;
            margin: 0 0 0 0;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            color: rgba(68, 68, 68, 0.8);
        }
        button{
            width: 85%;
            height: 2.5rem;
            border: 1px solid #E02828;
            box-sizing: border-box;
            border-radius: 25px;
            background-color: white;
            margin-top: 15px;
              ion-text{
                font-weight: 500;
                font-size: 18px;
                color: #E02828;
                text-transform: none;
              }
        }
    }
}