<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <div class="video">
      <video id="my_video_1" class="video-player" controls preload="none" #videoPlayer (ended)="videoEnded()">
        <source [src]="playingVideoSrc" type="video/mp4" />
        Browser not supported
      </video>
      <ion-button (click)="next()" fill="clear" size="small" class="ion-no-margin next-button">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!currentPlayingIndex" (click)="previousVideo()" fill="clear" size="small" class="ion-no-margin pre-button">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="segment-content">
    <div class="week-workout-section">
      <ion-list>
        <ion-item *ngFor="let item of playlistData" (click)="onclickItem(item)">
          <ion-thumbnail slot="start">
            <img [src]="item.tmimage">
          </ion-thumbnail>
          <ion-label slot="start">
            <p>{{item.tmdays}}</p>
            <ion-text>{{item.tmexercise}}</ion-text>
          </ion-label>
          <ion-button slot="end" (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
            <ion-icon *ngIf="item.isChecked" slot="icon-only" src="assets/icon/icon_tick.svg"></ion-icon>
            <ion-icon *ngIf="!item.isChecked" slot="icon-only" src="assets/icon/icon_unChecked.svg"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>