<ion-header>
  <ion-toolbar>
      <ion-button slot="start" fill="clear" size="small" class="ion-no-margin">
          <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
      </ion-button>
    <ion-title class="ion-no-padding">Today</ion-title>
  </ion-toolbar>
  <ion-item lines="none" class="ion-no-padding">
      <ion-lable>
        <p>1500 cal to reach your goal</p>
        <ion-progress-bar value="0.3"></ion-progress-bar>
      </ion-lable>
    </ion-item>
</ion-header>

<ion-content>
    <ion-segment mode="md" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="Breakfast">
          <ion-label>Breakfast</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Morning_Snack">
          <ion-label>Morning Snack</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Lunch">
            <ion-label>Lunch</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Evening_Snack">
            <ion-label>Evening Snack</ion-label>
        </ion-segment-button>   
        <ion-segment-button value="Dinner">
            <ion-label>Dinner</ion-label>
        </ion-segment-button>             
      </ion-segment>
</ion-content>
