<ion-header>
    <ion-toolbar>
        <ion-item lines="none"> 
            <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
              </ion-button>
            <ion-label class="ion-no-padding ion-text-center">
              <ion-text class="ion-no-padding">Workout Plan</ion-text>
            </ion-label>
          </ion-item>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <!-- <ion-card>
        <ion-img src="assets/img/trainingDashboardPlaceHolder.svg"></ion-img>
        <ion-card-header class="ion-no-padding">
            <ion-button shape="round" fill="outline">Start</ion-button>
          <ion-card-title>Weight Loss</ion-card-title>
          <ion-card-subtitle>28 days | 4 Weeks</ion-card-subtitle>
        </ion-card-header>
      </ion-card> -->
      <div class="video-section">
            <video id="video_1" class="video-player"
            #videoPlayer controls
            poster="https://maxfit.s3.ap-south-1.amazonaws.com/21+day+habit+workout.jpeg"
            >
            <source src="https://maxfit.s3.ap-south-1.amazonaws.com/21+day+habit+workout.jpeg" type="video/mp4" />
            Video not supported
          </video>
        </div>
        <div class="progress-section ion-text-center"> 
              <p>{{myTraining}} <ion-text> {{myWeek}}</ion-text></p>
              <ion-progress-bar value="0.5"></ion-progress-bar>
        </div>
        <div class="offers-section">
              <ion-label class="ion-no-margin" slot="start">
                 get your standardise
              </ion-label>

              <ion-slides pager="false" [options]="offersOpts"  #offersSlider>
                  <ion-slide *ngFor="let liveClass of liveClassesData;let i = index">
                    <ion-img [src]="liveClass.ic_url ? liveClass.ic_url:'assets/img/sliderPlaceHolder.svg'"></ion-img>
                  </ion-slide>
                </ion-slides>
          </div>
        <div class="common-question-section">
          <p class="question-header">Common Questions</p>
            <ion-card  *ngFor="let item of items" class="ion-no-padding ion-no-margin">
                  <ion-item lines="none">
                     <ion-label slot="start">Question Text</ion-label>
                     <ion-button (click)="expandItem(item)" slot="end" fill="clear" size="small" class="ion-no-margin">
                        <ion-icon slot="icon-only"  src="assets/icon/icon_arrow.svg"></ion-icon>
                    </ion-button>
                  </ion-item>
                  <app-expandable expandHeight="100px" [expanded]="item.expanded">
                      <p>
                        Hello there.
                      </p>
                      <p>
                        Hello there.
                      </p>
                      <p>
                        Hello there.
                      </p>
                      <p>
                        Hello there.
                      </p>
                    </app-expandable>
              </ion-card>
        </div>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-button (click)="start()" shape="round" fill="outline">
        <ion-text>Start Workout</ion-text>
      </ion-button>
    </ion-toolbar>
  </ion-footer>