ion-header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    ion-toolbar{
       --background: #FFFFFF;
       ion-item{
        --background: #FFFFFF;
        ion-label{
            ion-text{
                font-weight: normal;
                font-size: 16px;
                color: #000000;
            }
        }
        ion-button{
            color: #000000;
            ion-icon{
                color: #000000;
            }
              ion-text{
                font-weight: 500;
                font-size: 12px;
                color: #FFFFFF;
                text-transform: none;
              }
        }
       }
    }
}
ion-content{
    .video-section{
        background-color: #E0E0E0;
        .video-player{
            width: 100%;
            height: 16rem;
        }
        .play-button{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            ion-icon{
                width: 100%;
                height: 100%;
            }
        }
    }
    .offers-section{
        padding-top: 10px;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'roboto-regular';
    }
    .progress-section{
        p{
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            color: #000000;
            ion-text{
                font-weight: normal;
                font-size: 14px;
                color: #060606;
            }
        }
        ion-progress-bar {
            width:70%;
            margin: 0 auto;
            --progress-background: #E02828;
            height: 3px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 36px;
            --background: #FFFFFF;
        }
    }
     .offers-section{
        ion-slides{
            ion-slide{
                width: auto;
                ion-img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
     }
    .live-class-section{
        ion-slides{
            ion-slide{
                margin: 0 0 0 6px;
                ion-img{
                    width: 90%;
                }
            }
        }
    }
    .common-question-section{
        .question-header{
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            margin-left: 15px;
        }
        ion-card{
            box-shadow: none;
            border-top: 1px solid #F3F4F3;
            border-bottom: 1px solid #F3F4F3;
            box-sizing: border-box;
            ion-item{
                ion-label{
                    font-weight: 300;
                    font-size: 14px;
                    color: rgba(68, 68, 68, 0.8);
                }
            }
        }
    }
}
ion-footer{
    ion-toolbar{
        ion-button{
            width: 80%;
            height: 2.5rem;
            --color:#E02828;
            --border-color:#E02828;
            --background: #E02828;
              ion-text{
                font-weight: 500;
                font-size: 20px;
                color: #FFFFFF;
                text-transform: none;
              }
        }
    }
}