ion-header {
    height: auto;
    border: none;
    background-color: #F3F4F3;
    ion-toolbar{
       --background: #F3F4F3;
        padding-top: 10px;
        ion-button {
          margin-right:10px;
          --color:#000000;
          ion-icon {
            
          }
        }
        ion-title{
            margin-right: 45px;
        }
    }
    ion-slides {
        ion-slide{
            text-align: center;
            ion-button {
                padding:0px;
                width:35px;
                height:55px;
                //border: 1px solid black;
                ion-label{
                    p {
                        font-weight: normal;
                        font-size: 14px;
                        color: #2E3034;
                    }
                    ion-text {
                        font-weight: normal;
                        font-size: 14px;
                        color: #8F92A1;
                    }
                }
            }
            .active-slide {
                background-color: #E8E8E8;
                border: 1px solid #E0E0E0;
                border-radius: 25px;
            }
        }
    }
    ion-item{
        ion-searchbar{
            --border-radius: 25px;
            --placeholder-color: rgba(68, 68, 68, 0.8);
            --placeholder-opacity: 0.2;
            font-size: 14px;
        }
    }
}

ion-content {
    ion-list{
        ion-list-header{
            font-weight: normal;
            font-size: 16px;
            color: rgba(68, 68, 68, 0.8);
        }
        ion-label{
            h4 {
                font-weight: normal;
                font-size: 14px;
                color: #444444;
                text-transform: capitalize;
            }
            ion-text{
                font-weight: 300;
                font-size: 14px;
                color: rgba(68, 68, 68, 0.8);
                opacity: 0.8;
            }
        } 
        ion-text {
            margin-right:25px;
            font-weight: 300;
            font-size: 16px;
            color: #444444;
        }
    }
}