<ion-header>
    <ion-toolbar>
        <ion-button (click)="closeModal()" slot="start" fill="clear" size="small" class="ion-no-margin">
            <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
        </ion-button>
      <ion-title class="ion-no-padding">Today</ion-title>
    </ion-toolbar>
    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <ion-button fill="clear" class="ion-no-padding">
              <ion-label>
                  <p>M</p>
                  <ion-text>27</ion-text>
              </ion-label>
          </ion-button>
        </ion-slide>
        <ion-slide>
            <ion-button fill="clear">
                <ion-label>
                    <p>M</p>
                    <ion-text>27</ion-text>
                </ion-label>
            </ion-button>
        </ion-slide>
        <ion-slide>
            <ion-button fill="clear">
                <ion-label>
                    <p>M</p>
                    <ion-text>27</ion-text>
                </ion-label>
            </ion-button>
        </ion-slide>
        <ion-slide>
            <ion-button fill="clear">
                <ion-label>
                    <p>M</p>
                    <ion-text>27</ion-text>
                </ion-label>
            </ion-button>
          </ion-slide>
          <ion-slide>
              <ion-button fill="clear">
                  <ion-label>
                      <p>M</p>
                      <ion-text>27</ion-text>
                  </ion-label>
              </ion-button>
          </ion-slide>
          <ion-slide>
              <ion-button fill="clear">
                  <ion-label>
                      <p>M</p>
                      <ion-text>27</ion-text>
                  </ion-label>
              </ion-button>
          </ion-slide>
          <ion-slide>
              <ion-button fill="clear">
                  <ion-label>
                      <p>M</p>
                      <ion-text>27</ion-text>
                  </ion-label>
              </ion-button>
            </ion-slide>
            <ion-slide>
                <ion-button fill="clear">
                    <ion-label>
                        <p>M</p>
                        <ion-text>27</ion-text>
                    </ion-label>
                </ion-button>
            </ion-slide>
            <ion-slide>
                <ion-button fill="clear">
                    <ion-label>
                        <p>M</p>
                        <ion-text>27</ion-text>
                    </ion-label>
                </ion-button>
            </ion-slide>
      </ion-slides>
      <ion-item lines="none">
          <ion-searchbar mode="ios" search-icon=“undefined” placeholder="Search for Food"></ion-searchbar>
      </ion-item>
  </ion-header>

<ion-content>

</ion-content>
