<ion-header class="ion-no-border">
  <ion-toolbar>
     <ion-text class="warning-text">Subscription Expired</ion-text>
    <ion-title>Renew your subcription</ion-title>
  </ion-toolbar>
  <h5>
    <ion-text>Standard Plan Benifits</ion-text>
  </h5>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
        <ion-thumbnail slot="start">
            <img src="assets/img/sliderPlaceHolder.svg">
          </ion-thumbnail>
          <ion-label>
            <h2>Track your health</h2>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-thumbnail slot="start">
            <img src="assets/img/sliderPlaceHolder.svg">
          </ion-thumbnail>
          <ion-label>
            <h2>Track your health</h2>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-thumbnail slot="start">
            <img src="assets/img/sliderPlaceHolder.svg">
          </ion-thumbnail>
          <ion-label>
            <h2>Track your health</h2>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
      <ion-button (click)="openSlideShow()" shape="round">Renew Plan</ion-button>
  </ion-toolbar>
</ion-footer>